@page
@model azure_app_kiran.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deplyment Slots Page";
}

<div class="text-center">
    <h1 class="display-4">Testing Deployment Slots</h1>
    <h3>
        Validating Deplyoment Slots Feature.
    </h3>
</div>

